<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{data.actionItem.title}}</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <div class="action-image-wrapper">
        <div class="action-image" ng-if="data.actionItem.image" style="background: url({{data.actionItem.image}})">&nbsp;</div>
      </div>
      <div class="action-image no-image" ng-if="!data.actionItem.image">&nbsp;</div>
      <label class="item item-text-wrap">
        <span ng-bind-html="data.actionItem.summary.__text"></span>
      </label>
      <div ng-switch="data.actionItem.id">
        <span ng-switch-when="SHARE_ACTION"></span>
        <button ng-switch-default class="button button-full button-assertive" ng-click="goToUrl(data.actionItem.link._href)">Take Action</button>
      </div>
      <div ng-switch="data.actionItem.id" class="button-bar bar-assertive">
        <a ng-switch-when="SHARE_ACTION" class="button icon {{service.cssClass}}"
           ng-repeat="service in shareServices"
           ng-click="shareApp(service.name)"
           ng-show="serviceAvailability[service.name]"></a>
        <a ng-switch-default class="button icon {{service.cssClass}}"
           ng-repeat="service in shareServices"
           ng-click="shareAction(data.actionItem, service.name)"
           ng-show="serviceAvailability[service.name]"></a>
      </div>
    </div>
  </ion-content>
</ion-modal-view>


