<ion-view>
  <ion-content>
    <div class="list">
      <div class="item item-icon-right" ng-repeat="actionItem in data.actionItems" stop-event="click" ng-click="showActionModal(actionItem)" ng-if="!data.deletedActions[actionItem.id]">
        <div class="action-thumbnail" style="background-image: url({{actionItem.image}})">&nbsp;</div>
        <h3>{{actionItem.title}}</h3>
        <p>{{actionItem.updated | date:'shortDate'}}</p>
        <i class="icon ion-ios-close-empty" ion-stop-event="click" ng-click="showDeletePopup(actionItem)"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
