<ion-modal-view>
  <ion-content class="padding">
    <div class="list">
      <div class="action-image-wrapper">
        <h3 class="inner-title">{{data.actionItem.title}}</h3>
        <img src="{{data.actionItem.image}}" class="action-image" ng-if="data.actionItem.image">
        <img src="/assets/img/action-default.png" class="action-image" ng-if="!data.actionItem.image">
      </div>
      <label class="item item-text-wrap">
        <span ng-bind-html="data.actionItem.summary.__text"></span>
      </label>
      <div ng-switch="data.actionItem.id">
        <span ng-switch-when="SHARE_ACTION"></span>
        <button ng-switch-default class="button button-full button-assertive" ng-click="goToUrl(data.actionItem.link._href + '#tools')">Take Action</button>
      </div>
      <div class="button-margin" ng-if="!data.actionItem.image"></div>
      <div ng-switch="data.actionItem.id" class="button-bar bar-assertive">
        <a ng-switch-when="SHARE_ACTION" class="button icon {{service.cssClass}}"
           ng-repeat="service in shareServices"
           ng-click="shareApp(service.name)"
           ng-show="serviceAvailability[service.name]"></a>
        <a ng-switch-default class="button icon {{service.cssClass}}"
           ng-repeat="service in shareServices"
           ng-click="shareAction(data.actionItem, service.name)"
           ng-show="serviceAvailability[service.name]"></a>
      </div>
    </div>
  </ion-content>
</ion-modal-view>


