<div class="home">
  <div class="vertical-center">
    <p><span class="uppercase">Latest EFF action: </span><br>{{actionInfo.title}}</p>
    {{actionInfo.action}}
    <div class="buttons">
      <button class="button take-action" ng-click="openURL(actionInfo.url)">
        Take action
      </button>
    </div>

    <div class="buttons share">
      <button class="button transparent" ng-click="openShareIntent()">
        <i class="ion-ios7-upload-outline"></i> Share this app
      </button>
    </div>

  </div>
</div>
