<div class="home">
  <div class="vertical-center">
    <p><strong>Thanks! You are awesome!</strong></p>
    <h1>We have a request for you ready and lined up: help us spread the word about this app.</h1>
    <div class="buttons share">
      <button class="button transparent"
              ng-repeat="service in shareServices"
              ng-click="shareApp(service.name)"
              ng-show="serviceAvailability[service.name]">
        <i class="{{service.cssClass}}"></i> {{service.displayName}}
      </button>
    </div>
  </div>
</div>
