/* Open Sans @font-face kit */

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/openSans-Light.eot');
  src: url('/assets/fonts/openSans-Light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/openSans-Light.woff') format('woff'),
       url('/assets/fonts/openSans-Light.ttf') format('truetype'),
       url('/assets/fonts/openSans-Light.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/openSans-Regular.eot');
  src: url('/assets/fonts/openSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/openSans-Regular.woff') format('woff'),
       url('/assets/fonts/openSans-Regular.ttf') format('truetype'),
       url('/assets/fonts/openSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/openSans-Bold.eot');
  src: url('/assets/fonts/openSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/openSans-Bold.woff') format('woff'),
       url('/assets/fonts/openSans-Bold.ttf') format('truetype'),
       url('/assets/fonts/openSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
