<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.eff.actioncenter"
        version="0.0.2"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>actioncenter</name>
  <description>
	EFF ActionCenter mobile app
  </description>
  <author email="" href="https://github.com/EFForg/actioncenter-mobile">
      EFF Activism Tech
  </author>
  <content src="dist/index.html"/>
  <access origin="*"/>

  <preference name="webviewbounce"          value="false"/>
  <preference name="orientation"            value="portrait"/>
  <preference name="UIWebViewBounce"        value="false"/>
  <preference name="DisallowOverscroll"     value="true"/>
  <preference name="BackupWebStorage"       value="none"/>

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  <feature name="Keyboard">
    <param name="ios-package" value="IonicKeyboard" onload="true" />
  </feature>

</widget>
