<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="org.eff.actioncenter"
        version="1.0.1"
        android-versionCode="100011"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>EFF Alerts</name>
  <description>
	EFF Alerts
  </description>
  <author email="apps@eff.org" href="https://github.com/EFForg/actioncenter-mobile">
      EFF Apps
  </author>
  <content src="dist/index.html"/>
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />

  <access origin="*"/>

  <preference name="webviewbounce"          value="false"/>
  <preference name="orientation"            value="portrait"/>
  <preference name="UIWebViewBounce"        value="false"/>
  <preference name="DisallowOverscroll"     value="true"/>
  <preference name="BackupWebStorage"       value="none"/>

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  <feature name="Keyboard">
    <param name="ios-package" value="IonicKeyboard" onload="true" />
  </feature>

</widget>
