<div class="slider-container post intro ">
  <div class="vertical-center">
    <p><strong>Thanks! You are awesome!</strong></p>
    <h1>We have a request for you ready and lined up: help us spread the word about this app:</h1>
    <div class="buttons">
      <button class="button transparent">
        <i class="ion-ios7-chatbubble-outline"></i> SMS
      </button>
      <button class="button transparent">
        <i class="ion-ios7-email-outline"></i> Email
      </button>
      <button class="button transparent">
        <i class="ion-social-twitter-outline"></i> Twitter
      </button>
      <button class="button transparent">
        <i class="ion-social-facebook-outline"></i> Facebook</button>
    </div>
  </div>
</div>
